.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.buttons {
    display: flex;
    gap: 5px;
    height: 30px;
    width: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

