body{
    background-color: rgb(205, 247, 247);;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    padding: 10px;
    background-color: rgb(158, 224, 224);
    width: 275px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 5px;
    background-color: rgb(158, 224, 224);
    padding: 15px;
}

.button {
    height: 60px;
    width: 60px;
    background-color: rgb(205, 247, 247);
    border: none;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display {
    background-color: white;
    width: 245px;
    height: 50px;
    margin: 10px;
    font-size: 40px;
    text-align: end;
    padding: 5px;
}

button:hover {
    background-color:  rgb(122, 180, 180);
    color: white; 
}
